.inputDiv {
    margin: 20px 0;
    position: relative;
    display: inline-block;
}

.customLabel {
    padding: 10px;
    margin-top: 1px;
    margin-left: 10px;
    pointer-events: none;
    position: absolute;
    left: 0;
    top: 0;
    transition: 0.2s;
    transition-timing-function: ease;
    transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
    opacity: 0.5;
    color: #040501A3;
    border-radius: 10px;
    z-index: 1;
    font-size: 14px;
}

.customInput {
    padding: 10px;
    border: solid 1px #28AAE3;
    z-index: 0;
}

.customInput:focus {
    border: solid 1px #28AAE3;
    outline-color: #28AAE3;
}

.customInput:focus+.customLabel,
.customInput:not(:placeholder-shown)+.customLabel {
    opacity: 1;
    font-size: 14px;
    background-color: white;
    transform: scale(0.75) translateY(-70%) translateX(-14px);
}

.required {
    color: #AB2727;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}